<a href="https://colab.research.google.com/github/Escalada-Matthew/CPE009A-OOP/blob/main/Demo_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Bool()function

In [8]:
print (bool(True))
print (bool(False))

True
False

Functions can return a boolean

In [12]:
def MyFunction():
  return True
print(MyFunction())

True

You can execute code based on the Boolean answer of a function

In [17]:
def MyFunction():
  return True
#if ^return^ is changed to False, It will print "NO!"

if MyFunction():
  print("YES!")

else:
  print("NO!")

YES!

# Phyton Operators

-Operators are used to perform operations on variables and values

-In the example below, we use the + operator to add together two values:

In [22]:
print(10+5)
print(10-5)
print(10*5)
print(10/5)
print(10%5) #remainder
print(10//5) #Division
print(10**5) #exponent

15
5
50
2.0
0
2
100000

Phyton Bitwise Operators
-Bitwise opeartor works on bits and performs bit-by-bit operation. Assume if a=60 and b=13, now in binary format they will be as follows:

a=0011 1100, decimal 60
b=0000 1101, decimal 13


**& Binary AND**
-Operator copies a bit to the result. if it exist in both operands

**| Binary Or**
-It copies a bit, if it exist in either operand

**^ Binary XOR**
-It copies the bit, if it is set in one operand but not both.
**Binary Ones Complement**
-It is unary and has the effect of 'flipping' bits

**<< Binary Left Shift**
-The left operand's value is moved left by the number of bits specified by the right operand.

**>> BInary Right Shift**
-The left operand's value is moved right by the number of bits specified by the right operand.

In [24]:
a=60
b=13

print(a & b) #& Binary AND
print(a | b) #| Binary OR
print(a ^ b) #^ Binary XOR
a<<2 #Binary Left Shift

12
61
49

240

# Phyton Assignment Operators



*   x += 3 Same as x = x + 3
*   x -= 3 Same as x = x - 3   
*   x *= 3 Same as x = x * 3
*   x /= 3 Same as x = x / 3
*   x %= 3 Same as x = x % 3

In [35]:
x=5
x+=3

print(x)

8

# Logical Operator

**and Logical AND**
-If both the operands are true then condition become true(example (a and b) is False)

**or Logical OR**
-If any of the two operands are non-zero then condition becomes true (example: (a or b) is True)

**not Logical NOT**
-Use to reverse the logical state of its operand (#~not)

#Comparison Operator

In [38]:
y=60
z=13

print(y>z) #True
print(z>y) #False
print(y>z and z>y) #False
print(y>z or z>y) #True
print(not(y>z or z>y)) #~not (True=False)

True
False
False
True
False

# For Loop

In [101]:
week = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]
for x in week:
  print(x)

Sunday
Monday
Tuesday
Wednesday
Thursday
Friday
Saturday

In [102]:
week = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]
for x in week:
  print(x)
  if x=="Thursday":
    break

Sunday
Monday
Tuesday
Wednesday
Thursday

In [103]:
week = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]
for x in week:
  if x=="Thursday":
    print(x)
  else:
    continue

Thursday

In [106]:
#Looping through a string
for x in "week":
  print(x)

w
e
e
k

#The Range() Function


*   To loop through a set of code a specified number of times, we can use the range()function.
*   The range()function returns a sequence of numbers, starting from 0 by default and increments by 1 (by default), and ends at a specified number.

In [107]:
for x in range(6):
  print(x)
for x in range (2,6):
  print(x)

0
1
2
3
4
5
2
3
4
5

In [108]:
#Nested Loops
adjective=["red", "big", "tasty"]
fruits=["apple", "banana", "cherry"]

for x in adjective:
  for y in fruits:
    print(x,y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

In [110]:
#While Loop
i=1
while i<6:
  print(i)
  i+=1 #i=i+1

1
2
3
4
5

In [111]:
i=1
while i<6:
  print(i)
  if i==3:
    break
  i+=1

1
2
3

In [ ]:
#Continous Statement

In [114]:
#Else Statement
i=1
while i<6:
  print(i)
  i+=1
else:
  print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6